/* CLASSES GERAIS */
.botao {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 6px 14px;
    border-radius: 18px;
}

.botaoAzul {
    background: linear-gradient(90.28deg, #1E71E3 0.24%, #3897F1 99.79%);
    border: 0;
}

/* MENU */
.menuIcone {
    max-width: 25px;
}

.menuLogo {
    margin-inline-start: 250px;
}

.menuContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuBotao {
    background-color: transparent;
    border: 1px solid #fff;
}

/* HERO */
.heroContainer {
    text-align: center;
    margin-top: 100px;
}

.heroTitulo {
    margin-bottom: 30px;
    font-size: 80px;
    font-weight: 700;
    color: #fff;
}

.heroDescricao {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

/* IMAGENS DE RELATORIO */

.relatorioContainer { 
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}


.relatorioVendas {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    max-width: 470px;
    z-index: 2;
}

.relatorioVisitas {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    max-width: 470px;
    z-index: 2;
}