

/* MENU */
.menuIcone {
    max-width: 25px;
}

.menuLogo {
    margin-inline-start: 250px;
}

.menuContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuBotao {
    background-color: transparent;
    border: 1px solid #fff;
}

/* HERO */
.heroContainer {
    text-align: center;
    margin-top: 100px;
}

.heroTitulo {
    margin-bottom: 30px;
    font-size: 80px;
    font-weight: 700;
    color: #fff;
}

.heroDescricao {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

/* IMAGENS DE RELATORIO */
.relatorioContainer {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: -2;
}


.relatorioVendas {
    position: absolute;
    top: 20%;
    left: 5%;
    transform: translateY(-50%);
    max-width: 470px;
    z-index: 2;
}

.relatorioVisitas {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translateY(-50%);
    max-width: 470px;
    z-index: 2;
}

/* DESTAQUES */
.destaqueContainer {
    background-color: #fff;
    padding-top: 150px;
    padding-bottom: 70px;
    margin-top: -280px;
    z-index: 3;
}

.destaqueBox {
    margin-bottom: 30px;
}

.destaqueTitulo {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 700;
    color: #1a1a1a;
}

.destaqueDescricao {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #1a1a1a;
    line-height: 1.4;
}


/* LOGOS */
.destaqueContainerLogo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 50px 0;
}


.destaqueLogo {
    max-width: 150px;
    margin: 0 15px;
    filter: grayscale(100%);

}

/* INTEGRAÇÕES */
.integracaoContainer {
    padding-block: 100px;
    text-align: center;
}

.integracaoSubtitulo {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 3.5%;
    color: #1E71E3;
    ;
}

.integracaoTitulo {
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.1;
}

.integracaoDescricao {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 3.5%;
    color: #1a1a1a;
}

.integracaoCard {
    margin-bottom: 30px;
    padding: 40px 20px;
    border-radius: 30px;
    background-color: #fff;
}

.integracaoLogo {
    max-width: 280px;
}

.integracaoCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.integracaoCard {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.33% - 20px);
    max-width: 300px;
    text-align: center;
}

.integracaoCard:nth-child(4),
.integracaoCard:nth-child(5) {
    flex: 1 1 calc(50% - 20px);
}

.integracaoLogo {
    max-width: 280px;
    margin-bottom: 15px;
}

/* INFRAESTRUTURA */
.bgInfra { 
    background: linear-gradient(180deg, #0C0B17 0%, #0C0E1C 10.48%, #09254A 100%);
}

.infraContainer { 
    padding-block: 100px;
}

.infraSubtitulo { 
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 3.5%;
    color: #1E71E3;
}

.infraTitulo { 
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.6;
    color: #fff;
}

.infraIcone { 
    margin-inline: auto; 
    padding: 0px 10px; 
}

.infraDescricao { 
    margin-bottom: 15px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 3.5%;
    color: #fff;
}

.container.full.bgInfra {
    position: relative;
    padding: 150px 0; 
}

.bordaCinza {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #af9c9c65;
}


.bordaSuperior {
    top: 100; 
}

.bordaInferior {
    bottom: 100; 
}




/* MEDIA QUERIES */
@media (max-width: 768px) {
    .integracaoCard {
        flex: 1 1 100%;
    }
}