/* MENU */
.menuIcone {
    max-width: 25px;
}

.menuLogo {
    margin-inline-start: 250px;
}

.menuContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuBotao {
    background-color: transparent;
    border: 1px solid #fff;
}



/* HERO */
.heroContainer {
    text-align: center;
    margin-top: 100px;
}

.heroTitulo {
    margin-bottom: 30px;
    font-size: 80px;
    font-weight: 700;
    color: #fff;
}

.heroDescricao {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}



/* IMAGENS DE RELATORIO */
.relatorioContainer {
    position: relative;
    width: 100%;
    height: 650px; 
    background-image: url('img/banner.png'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white; 
    z-index: -2;
}

/* Ajuste nas imagens flutuantes */
.relatorioVendas, .relatorioVisitas {
    transition: transform 0.5s ease; /* Transição suave para hover */
    opacity: 0.9; /* Torna as imagens levemente transparentes para elegância */
}

.relatorioVendas:hover, .relatorioVisitas:hover {
    transform: scale(1.05); /* Leve aumento no hover para destacar */
    opacity: 1; /* Fica opaco ao passar o mouse */
}

.relatorioVendas {
    position: absolute;
    top: 5%; /* Ajuste fino de posicionamento */
    left: 5%;
    max-width: 470px;
    z-index: 2;
}

.relatorioVisitas {
    position: absolute;
    top: 5%;
    right: 5%;
    max-width: 470px;
    z-index: 2;
}




/* DESTAQUES */
.destaqueContainer {
    background-color: #fff;
    padding-top: 150px;
    padding-bottom: 70px;
    margin-top: -280px;
    z-index: 3;
}

.destaqueBox {
    margin-bottom: 30px;
}

.destaqueTitulo {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 700;
    color: #1a1a1a;
}

.destaqueDescricao {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #1a1a1a;
    line-height: 1.4;
}



/* LOGOS */
.destaqueContainerLogo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 50px 0;
}

.destaqueLogo {
    max-width: 150px;
    margin: 0 15px;
    filter: grayscale(100%);

}



/* INTEGRAÇÕES */
.integracaoContainer {
    padding-block: 100px;
    text-align: center;
}

.integracaoTitulo {
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.4;
    color: #1A1A1A;

}

.integracaoDescricao {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 3.5%;
    color: #1a1a1a;
}

.integracaoCard {
    margin-bottom: 30px;
    padding: 40px 20px;
    border-radius: 30px;
    background-color: #fff;
}

.integracaoLogo {
    max-width: 280px;
}

.integracaoCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.integracaoCard {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.33% - 20px);
    max-width: 300px;
    text-align: center;
}

.integracaoCard:nth-child(4),
.integracaoCard:nth-child(5) {
    flex: 1 1 calc(50% - 20px);
}

.integracaoLogo {
    max-width: 280px;
    margin-bottom: 15px;
}



/* INFRAESTRUTURA */
.bgInfra {
    background: linear-gradient(180deg, #0C0B17 0%, #0C0E1C 10.48%, #09254A 100%);
    background-repeat: no-repeat;
}

.infraContainer {
    padding: 110px 60px;
}

.infraBox {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: space-between;
    padding: 60px;
    border: 1px solid #d3d3d35e;
    border-radius: 12px;

}

.infraColuna {
    flex: 1;
    min-width: 300px;
}

.infraSubtitulo {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 3.5%;
    color: #1E71E3;
    ;
}

.infraTitulo {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;

    color: #fff;
}

.infraDescricao {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 3.5%;
    color: #fff;

}

.infraIcone {
    margin-right: 10px;
}



/* SEÇÃO OTIMIZADO PARA O GOOGLE */
.otimizadoTitulo {
    margin-bottom: 80px;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}

.otimizadorIcone {
    max-width: 70px;
}

.otimizadoBox {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

.otimizadorIcone {
    width: 70px;
    margin-right: 15px;
}

.textoContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.otimizadorBoxTitulo {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
    color: #fff;
}

.otimizadorDescricao {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 3.5%;
    color: #fff;
    width: 30ch;
}


/* SITES DE EXEMPLOS */
.siteExemplo {
    margin-bottom: 30px;
    max-width: 345px;
    filter: grayscale(100%);

}


/* TEMA CLARO/ESCURO */
.botaoTema {
    margin-bottom: 50px;
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid #a4a4a4;
    font-size: 18px;
    font-weight: 500;
}



/* ACESSO RÁPIDO */
.acessoBox {
    width: 220px;
    margin-bottom: 20px;
    padding: 16px 26px;
    border: 1px solid #CBCBCB;
    border-radius: 5px;
}

.acessoTitulo {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.4;
    color: #191919;
}

.acessoIcone {
    margin-bottom: 10px;
    max-width: 30px;
}

.acessoInfo {
    font-size: 16px;
    font-weight: 700;
    color: #191919;
}



/* TOPICOS */
.topicos {
    padding-top: 75px;
}

.topicosContainer {
    border-left: 1px solid #CBCBCB;
    padding: 20px;

}

.topicosTitulo {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 700;
    color: #191919;
}

.topicoInfo {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    color: #191919;
    text-decoration: underline;
}



/* RODAPE */
.rodapeContainer {
    padding: 90px 90px 20px;
    border-radius: 40px 40px 0px 0px;
}

.rodapeTitulo {
    margin-bottom: 30px;
    font-size: 38px;
    font-weight: 700;
    color: #fff;
}

.rodapeSubtitulo {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}


.rodapeInfo {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.copyrightBox {
    border-top: solid 1px #ffffff20;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copy {
    padding-block: 15px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}



/* MEDIA QUERIES */
@media (max-width: 768px) {
    .infraContainer {
        flex-direction: column;
        gap: 30px;
    }

    .integracaoCard {
        flex: 1 1 100%;
    }
}